@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Inter', sans-serif;
            background: linear-gradient(135deg, #32478e);
        }

        .container {
            max-width: 700px;
            width: 90%; 
            margin: 0 auto; 
            background: #fff;
            padding: 25px 5%;
            border-radius: 6px;
        }

        .container .title {
            font-size: 25px;
            font-weight: 700;
            position: relative;
            margin-bottom: 20px;
        }

        .container .title::before {
            content: ' ';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4px;
            width: 45px;
            background: linear-gradient(139deg, #fff5f5);
        }

        .user-details {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .user-details .input-box {
            margin-bottom: 20px; 
            width: 100%; 
        }

        .user-details .input-box .details {
            font-weight: 500;
            margin-bottom: 5px;
            display: block; 
        }

        .user-details .input-box input {
            height: 45px;
            width: 100%;
            outline: none;
            border-radius: 5px;
            border: 0.6px solid #ccc;
            padding-left: 6px;
            font-size: 16px;
            border-bottom-width: 1px;
            transition: all 0.3s ease;
        }

        .user-details .input-box input:focus,
        .user-details .input-box input:valid {
            border-color: #5c5aea;
        }


       
      