header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 30px;
    /*border-bottom: 1px solid #ccc;*/
}

/* Estilo para el título "Administradores" */
h1 {
    margin: 0;
    /* Elimina el margen predeterminado */
    font-size: 24px;
    color: #333;
}

/* Estilo para el botón */
.boton {
    padding: 8px 16px;
    font-size: 12.5px;
    font-weight: 600;
    height: 48px;
    width: 147px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #0056b3;
}

/* Contenedor para las tarjetas, usando flexbox */
.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    /* Para que las tarjetas se envuelvan en múltiples líneas si no caben en una sola fila */
    justify-content: center;
    /* Para distribuir las tarjetas equitativamente en la fila */
}

/* Estilo básico para las tarjetas */
.tarjeta {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo para la imagen dentro de la tarjeta */
.tarjeta img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}